.tickets-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 1em;
}

.ticket {
  background: rgba(0,0,0,.5);
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,.2);
  box-shadow: inset 0 0px 2px rgb(0 0 0 / 10%), 0 4px 6px rgb(0 0 0 / 30%);
  text-align: center;
  height: 180px;
  color: whitesmoke;
}
.tickettocheck {
  height: 220px;
}
.ticket > * {
  display: block;
  margin: 5px;
  text-align: start;
  margin-left: 20%;
}
.ticket > button {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 76%;
    text-align: center;
}
.ticket-event-name {    
  background: rgba(0,0,0,.5);
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid black;
  margin: 0px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}
.ticket-event-color {
  width: 15%;
  height: 176px;
  float: left;
  border-radius: 4px 0 0 4px;
  margin: 1px;
}
.tectocheck {
  height: 216px;
}
.buy-button {
  width: 150px;
}

tr[type="soldout"] {
  background-color: red !important;
}

.emptyMessage {
  background: rgba(140,0,0,.4);
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  text-shadow: 0 1px rgb(0 0 0 / 20%);
  color: rgba(255,255,255,0.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-create-event {
  margin: 10%;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(0,0,0,.4);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0px 5px 10px rgb(0 0 0 / 33%);
}

.nav-page {
  background: rgba(0,0,0,.4);
}

.page-title {
  color: snow;
  font-weight: bold;
  text-shadow: 0 1px 2px rgb(0 0 0 / 70%);
  font-size: 25px;
}

input:-internal-autofill-selected, select:-internal-autofill-selected {
  background-color: black;
}

input, select {
  color: white;
  font-size: 20px !important;
}

input::placeholder, input[type="date"]::placeholder {
  color: grey !important;
  font-size: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(0,0,0,.86) inset !important;
    
}

input:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  background-color: black !important;
  
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

body {
  background: rgba(0,0,0,.8);
}

.button-submit-form {
  font-weight: bold;
  background: lightseagreen;
}

tr {
  color: white;
}

tbody > tr, tbody > tr > td {
  background-color: rgba(0,0,0,.8);
}
tbody {
  background: rgba(0,0,0,.4);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0px 5px 10px rgb(0 0 0 / 33%);
}

select {
  background: rgba(0,0,0,.4);
  border: 1px solid rgba(255,255,255,.2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom */
.user_addressbox {
  background: lightseagreen;
  padding: 8px;
  border-radius: 6px;
}
.user_balancebox {
  background: cornflowerblue;
  padding: 8px;
  border-radius: 6px;
  margin-left: 15px;
}
.guest-message {
  padding-top: 100px;
}
.reseller_balancebox {
  background: blueviolet;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 20px;
}
